.cart-row {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-image {
    width: 100px;
    height: 100px;
}
.total { 
    text-align: center;
    color: burlywood;
}

.price {
    width: 150px;
}